body{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.Container{
  height: auto;
  width: 300px;
  border: 0.5px solid black;
  background-color: hwb(180 19% 16%);
  border-radius: 20px;
  box-shadow: 2px 2px 20px;
}
#Lauda{
  border: 0,5px solid black;
  border-radius: 20px;
}